body {
  padding: 50px;
  font: 18px "IM Fell English", Cambria, serif;
  background-color: white;
  color: black;
  background-image: url("../images/hms-dreadnode.gif");
  background-size: 100%;
}
p {
  width: 28em;
}
img {
  vertical-align: middle;
}
.chatform {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#chatterbox {
  width: 22em;
  background: white;
  background: rgba(255,255,255,0.6);
  font-size: inherit;
  padding: 1em;
  margin: 0;
  border: 1px solid black;
  outline-width: 0;
  clear: both;
  -moz-box-shadow:inset 0 0 10px black;
  -webkit-box-shadow:inset 0 0 10px black;
  box-shadow:inset 0 0 10px black;
}


/* gameboard */

.gameboard { background-color:#000; width:514px; height:514px; }
	.gameboard div { background-color:#006699; margin:0px 2px 0px 0px; float:left; width:30px; height:30px; }
	.gameboard #headers { padding-top:2px; }
	.gameboard #headers,
	.gameboard .row { background-color:transparent; margin-top:2px; float:none; width:100%; height:30px; }
		.gameboard #headers div,
		.gameboard .rownum { color:#fff; font-size:15px; font-weight:bold; text-align:center; line-height:30px; }
		.gameboard .rownum { margin-left:2px; }
